.footer{
   background-image: url(../../../src/images/footer/1.jpg);
   height: auto;
   width: auto ;
   
   font-family: 'Bebas Neue', cursive;
   background-repeat: no-repeat;
   background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
   

}
.image-text{
    margin-top: 30px;
    margin-bottom: 30;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    
    
    
}
.image-text  img{
    height: 80px;
    width: 80px;
}
.image-text  p{
    text-align: justify;
    font-size: 40px;
    text-decoration: brown;
}
.footer p{
    margin: auto;
    margin-top: 20px;
    font-weight: 30px;
    align-items: center;
}